tags
build-dir
.flatpak-builder
vipsdisp
vipsdisp-*.tar.gz
disp-gresources.c
.deps
*/.deps
*/.libs
*.o
.*.swp
TAGS
Makefile
scan
Makefile.in
config.*
autom4te.cache
aclocal.m4
m4/
compile
depcomp
libtool
ltmain.sh
missing
mkinstalldirs
po/POTFILES
fred
stamp-h1
vipsdisp-gresources.c
vipsdisp.desktop

