tags
build-dir
.flatpak-builder
vipsdisp
vipsdisp-*.tar.gz
disp-gresources.c
.deps
*/.deps
*/.libs
*.o
.*.swp
TAGS
Makefile
Makefile.in
scan
config.*
configure
configure~
autom4te.cache
aclocal.m4
m4/
libtool
ltmain.sh
mkinstalldirs
po/POTFILES
fred
stamp-h1
vipsdisp-gresources.c
