[Desktop Entry]
Type=Application
Version=2.4
Name=Vipsdisp
GenericName=Image Viewer
Comment=View large scientific images
Icon=org.libvips.vipsdisp
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=vipsdisp;graphic;view;image;
Categories=Graphics;2DGraphics;RasterGraphics;
StartupNotify=true
Exec="vipsdisp" %U
MimeType=image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/tiff;image/jpeg;image/png;image/x-exr;image/webp;image/x-webp;image/heif;image/heic;image/svg+xml;application/pdf;image/jp2;image/jxl;image/mrxs;image/svs;image/ndpi;image/avf;text/x-matlab;text/csv;

