#metadata_title {
}

.metadata-label-box {
}

.metadata-label-box.even, .metadata-input-box.even {
	background-color: rgba(0, 0, 0, .1);
}

.metadata-label-box .metadata-label {
	color: gray;
}

.metadata-label-box .metadata-label.matching-substring {
	color: white;
	font-weight: bold;
}

.metadata-input-box {
}
