#metadata_title {
}

.metadata-label-box {
}

.metadata-label-box .metadata-label {
	color: gray;
}

.metadata-label-box .metadata-label.matching-substring {
	color: white;
	font-weight: bold;
}

.metadata-input-box {
}
